body {
  text-align: center;
  min-width: 280px;
  padding:0;
  box-sizing: border-box;
  margin: 0;
  color:#333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x:hidden;
  background: rgba(230, 240, 255, 1) !important;
  min-width: 360px;
}

a, a:link, a:active, a:hover, button{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover{
  color: rgba(0,0,0, 0.4);
}
